html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.cell {
    background: white;
    width: 20px;
    height: 20px;
    border: 1px solid black;
}
